#projects_main_content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* margin: 30px 0px; */
  padding-top: 80px;
  /* border: 1px solid; */
}

#projects_main {
  width: 100%;
}

#projects_heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 50px;
  width: 100%;
  font-size: 26px;
  white-space: nowrap;
}

#projects_heading::after {
  content: "";
  display: block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--lightest-navy);
}

#projects_heading::before {
  position: relative;
  bottom: 4px;
  content: "03.";
  margin-right: 10px;
  top: 2px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-md), 3vw, var(--fz-xl));
  font-weight: 400;
}

#projects_view {
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.project_view {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid; */
}

.smallScreen {
  display: none;
  /* border: 1px solid; */
  position: relative;
  border-radius: var(--border-radius);
}

.project_inner_smallScreen {
  position: relative;
}

.project_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.03; /* Adjust the opacity as needed */
}

.project_content {
  padding: 10px 15px 15px 15px;
}

.project_small_background_div {
  position: absolute;
  width: 80px;
}

/* reverse */
.project_view_rev {
  display: flex;
  flex-direction: row-reverse;
}

.project_title {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

/* reverse */
.project_title_rev {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 15px;
}

.projects_left_view {
  /* width: 500px; */
  width: 32.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
}

.project_featured {
  font-size: var(--fz-sm);
  margin: 10px 0px 0px 0px;
  color: var(--green);
}


.project_name {
  font-family: var(--font-sans);
  font-size: var(--fz-xxl);
  margin: 5px 0px 10px 0px;
  font-weight: 700;
}

.project_description {
  padding: 23px;
  border-radius: var(--border-radius);
  background-color: var(--light-navy);
  color: var(--light-slate);
  font-size: var(--fz-lg);
}

.project_description_content {
  display: flex;
  font-family: var(--font-sans);
  font-size: var(--fz-sm);
  line-height: 20px;
}

/* reverse */
.project_description_content_rev {
  text-align: right;
}

.project_tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  /* gap: 25px; */
  gap: 1.9vw;
  font-family: var(--font-mono);
  padding: 0px;
  letter-spacing: 0px;
  font-size: var(--fz-sm);
  color: var(--slate);
  margin: 25px 0px;
  /* width: max-content; */
}

.project_tools_rev {
  display: flex;
  justify-content: flex-end;
  /* width: auto; */
}

.project_outcome {
  display: flex;
  gap: 10px;
  height: 20px;
}

.project_outcome_rev {
  display: flex;
  justify-content: flex-end;
}

.project_outcome_link {
  padding: 3px;
  border-radius: var(--border-radius);
}

.project_outcome_link:hover {
  border: 1px solid var(--green);
  box-shadow: 0px 0px 8px 0px var(--green);
  cursor: pointer;
}

.projects_right_view {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* width: 550px; */
  right: 20px;
}

/* reverse */
.projects_right_view_rev {
  right: 0px;
  left: 20px
}

.project_image_view {
  opacity: 0.2;
  color: var(--green-tint);
  border-radius: var(--border-radius);
  transition: opacity 0.3s ease;
  overflow: hidden;
  /* width: 580px; 
   height: 365px; */
  width: 42.5vw;
  height: 26.8vw;
  max-width: 580px;
  max-height: 365px;
  /* border: 1px solid; */
}

.project_image_view:hover {
  border-image: var(--green-tint);
  opacity: 1;
  cursor: pointer;
}

.project_image_view_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 768 */
@media screen and (max-width: 768px) {
  .bigScreen {
    display: none;
  }
  .smallScreen {
    display: block;
  }

  .project_description {
    background-color: var(--navy);
    padding: 10px 0px;
  }

  #projects_heading {
    font-size: 5.5vw;
  }
}