#about_me_main_content {
  display: flex;
  justify-content: center;
  /* margin: 30px 0px; */
  padding-top: 45px;
}

#about_me_main {
  width: 90%;
}

@media screen and (max-width: 1000px) {
  #about_me_main {
    width: 100%;
  }
}

#about_heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 20px;
  width: 100%;
  font-size: clamp(26px, 5vw, var(--fz-heading));
  white-space: nowrap;
}


#about_heading::after {
  content: "";
  display: block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--lightest-navy);
}

#about_heading::before {
  position: relative;
  bottom: 4px;
  content: "01.";
  margin-right: 10px;
  top: 4px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-md), 3vw, var(--fz-xl));
  font-weight: 400;
}


#about_content {
  display: flex;
  flex-direction: row;
}

#about_section {
  width: 60%;
  font-family: var(--font-sans);
  line-height: 23px;
  font-size: var(--fz-md);
  color: var(--slate);
  letter-spacing: 0.4px;
}

.heart {
  color: var(--green);
}

#image_section {
  width: 40%;
}

#image {
  width: 34vw;
  max-width: 380px;
}

/* #image_layer_1 {
  animation: 4000ms ease-in-out 0s infinite alternate none running moveAnimation;
}

@keyframes moveAnimation {
  0% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(-6px);
  }
}

#image_layer_2 {
  animation: 7000ms ease-in-out 0s infinite alternate none running rotateAnimation;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
} */

.skillset {
  display: grid;
  grid-template-columns: repeat(3, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}

ul.skillset li::before {
  content: "▹";
  margin-right: 3px;
  left: 0px;
  color: var(--green);
  font-size: var(--fz-sm);
  line-height: 12px;
}

.text_highlight {
  color: var(--green);
}

@media screen and (max-width: 1021px) {
  .skillset {
    grid-template-columns: repeat(2, minmax(140px, 200px));
  }
}

@media screen and (max-width: 651px) {
  .skillset {
    grid-template-columns: repeat(1, minmax(140px, 200px));
  }
}

@media screen and (max-width: 500px) {
  #about_content {
    display: flex;
    flex-direction: column;
  }

  #about_section {
    width: 100%;
  }

  #image_section {
    width: 100%;
  }

  #image {
    width: 80vw;
  }
  
}