#experience_main_content {
  display: flex;
  justify-content: center;
  /* margin: 30px 0px; */
  /* padding-top: 80px; */
}

#experience_parent_conent {
  padding: 80px 0px 140px 0px;
}

#experience_main {
  width: 75%;
}

@media screen and (max-width: 1000px) {
  #experience_main {
    width: 100%;
  }
}

#experience_heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 20px;
  width: 100%;
  font-size: clamp(26px, 5vw, var(--fz-heading));
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  #experience_heading {
    font-size: 5.5vw;
  }
}

#experience_heading::after {
  content: "";
  display: block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--lightest-navy);
}

#experience_heading::before {
  position: relative;
  bottom: 4px;
  content: "02.";
  margin-right: 10px;
  top: 4px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-md), 3vw, var(--fz-xl));
  font-weight: 400;
}

.companyName {
  font-size: var(--fz-md);
  font-family: var(--font-mono);
  color: var(--slate);
}

/* .tab_parent:hover {
  background-color: var(--green-tint);
} */

/* .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--green-tint) !important; 
  font-weight: 500;
}

.ant-tabs-tab-active {
  color: var(--green);
  background-color: var(--green-tint);
} */

.ant-tabs-ink-bar {
  border: 1px solid var(--green);
}

.tab_parent {
  /* margin-left: -20px; */
  margin-top: 40px;
  /* height: 180px; */
}

.exp_title {
  margin: 0px;
  margin-bottom: 5px;
}

.exp_fullName {
  color: var(--green);
}

.exp_duration {
  font-family: var(--font-mono);
  color: var(--lightest-slate);
}

.companyLink {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}

.companyLink:hover {
  text-decoration: underline 1px;
  color: var(--green);
}

.expPointList {
  overflow: hidden;
  list-style: none;
  color: var(--slate);
  padding: 0px;
  margin: 20px 5px 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: var(--fz-md);
  font-family: var(--font-sans);
}

ul.expPointList li::before {
  content: "▹";
  margin-right: 10px;
  left: 0px;
  color: var(--green);
  font-size: var(--fz-lg);
  line-height: 15px;
}

.ant-tabs-tab:hover {
  background-color: var(--green-tint);
}

.ant-tabs-tab:hover > .ant-tabs-tab-btn > .companyName {
  color: var(--green);
}

.ant-tabs-left > .ant-tabs-content-holder {
  border-left: 2px solid var(--lightest-navy);
}
/*
.ant-tabs-nav-wrap {
  border-left: 1px solid #d9d9d9;
  height: 40px;
} */

.tab_parent .ant-tabs-tab-active {
  background-color: var(--green-tint);
  color: var(--green);
}

.tab_parent .ant-tabs-tab-active > .ant-tabs-tab-btn > .companyName {
  color: var(--green);
}
