#home_page_main_content {
  display: flex;
  justify-content: center;
}

#contents {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 200px;
  max-width: 1020px;
}

@media screen and (max-width: 768px){
  #contents {
    width: 82%;
  }
}