#home_page_main_content {
  display: flex;
  justify-content: center;
}

#contents {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 200px;
  /* border: 1px solid red; */
  max-width: 1020px;
}